
//==== COLORS === 

$bg-color : #FFFFFF;
$theme-color:#F15A24;
$black : #231F20;
$head-color:#002F4F;
$green:#008C98;
$gray:#F6F6F6;
$line-gray:#D8D8D8;
$light-gray: #B2B2B2;
$card-border:#E6E6E6;
$qr-border:#CFCFCF;
$footer-bg:#F8F8F8;
$sns-border:#D1D1D1;
$white : #FFFFFF;
$border:#D9D9D9;


//=== FONTS ===

$ivy-mode:'Ivy Mode',Arial,sans-serif;
$tt-norms:'TT Norms',Arial,sans-serif;